<%- include('../partials/head') %> <%- include('../partials/navbar') %>
<main class="container p-3">
  <h3 class="p-3">Looping through data models to ejs</h3>
  <% posts.forEach((post)=> { %>
  <a href="<%= post.url %>" target="_blank" style="text-decoration: none">
    <div class="card text-white <%= post.color %>" style="max-width: 70%">
      <div class="card-body">
        <h4 class="card-title"><%= post.title %></h4>
        <p class="card-text"><%= post.description %></p>
        <h6>Date: <span class="text-muted"><%= post.date %></span></h6>
      </div>
    </div>
  </a>
  <br />
  <% }) %>
</main>

<%- include('../partials/footer') %>
